<%- include('partials/header') %>

<div class="jumbotron centered">
    <div class="container">
      <img width="250px" height="250px" src="https://img.icons8.com/external-flaticons-lineal-color-flat-icons/344/external-college-university-flaticons-lineal-color-flat-icons.png" alt="..">
      <h1 class="display-3">Welcome</h1>
      <p class="lead">Just connect with us and be part of this wonderful chapter!</p>
      <hr>
      <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
      <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
  
    </div>
  </div>

<%- include('partials/footer') %>