
<%- include('partials/header') %>
<div class="container">
    <h1 style="text-align: center; text-decoration: underline;">NOTICE</h1>
    <div class="notice-box">
        <h3>Title...</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos reprehenderit cum suscipit laudantium rerum recusandae, quos, saepe natus eum distinctio mollitia illo, esse exercitationem aliquid itaque culpa dolorum? Vero, ipsam!</p>
    </div>  
    <div class="notice-box">
        <h3>Title...</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos reprehenderit cum suscipit laudantium rerum recusandae, quos, saepe natus eum distinctio mollitia illo, esse exercitationem aliquid itaque culpa dolorum? Vero, ipsam!</p>
    </div>  
</div>

</body>
</html>